.catalog-item {

  background-color: $white;

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__features {
    border: 1px solid $light-gray;
    background-color: $white;
  }

  &__title-name {
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
  }

  &__title-description {
    color: $dark-gray;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.31;
  }

  &__price-rub {
    color: $text-black;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
  }

  &__price-icon {
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: row;

    &__title {
      display: flex;
      flex-direction: column;
    }

    &__features {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border: 1px solid $light-gray;
      background-color: $white;
    }

    &__title-name {
      color: $text-black;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &__title-description {
      color: $dark-gray;
      font-size: 15px;
      font-weight: 400;
      line-height: 2;
    }

    &__price-rub {
      height: 17px;
      color: $text-black;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.41;
    }

    &__price-icon {
      opacity: 0.2;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    flex-direction: column;
    flex-wrap: wrap;

    &__title {
      display: flex;
      flex-direction: column;
    }

    &__features {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      flex-wrap: wrap;
      min-height: 197px;
      border: 1px solid $light-gray;
      background-color: $white;
    }

    &__title-name {
      color: $text-black;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &__title-description {
      color: $dark-gray;
      font-size: 15px;
      font-weight: 400;
      line-height: 2;
    }

    &__price-rub {
      height: 17px;
      color: $text-black;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.41;
    }

    &__price-icon {
      opacity: 0.2;
    }
  }
}
