.catalog {
  @include container;
  background-color: $white;
  padding-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .catalog {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $white;
    padding-top: 86px;
    padding-bottom: 59px;

    &__container {
      width: 1150px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
