.catalog {
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .catalog {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    background-color: $white;
  }
}
