.catalog {
  background-color: $white;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .catalog {
    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $white;
  }
}
