.catalog-item {
  background-color: $white;
  margin-top: 30px;
  padding-top: 3px;

  &__img {
    margin-bottom: 0;
    display: block;
  }

  &__features {
    border: 1px solid $light-gray;
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    padding-right: 35px;
    margin-top: 0;
    padding-bottom: 2px;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__title-name {
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-top: 23px;
  }

  &__title-description {
    color: $dark-gray;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.31;
    padding: 0;
    margin: 0;
    padding-top: 5px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $light-gray;
    min-height: 72px;
    align-items: center;
    margin-top: 19px;
  }

  &__price-rub {
    color: $text-black;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
  }

  &__price-icon {
    background-image: url("/img/icon-cart.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
    width: 20px;
    height: 19px;
    display: block;
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 70px;
    width: 668px;

    &__img {
      width: 334px;
      height: 334px;
    }

    &__title {
      display: flex;
      flex-direction: column;
      padding-right: 42px;
      padding-left: 0;
    }

    &__features {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $light-gray;
      background-color: $white;
    }

    &__title-name {
      color: $text-black;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &__title-description {
      color: $dark-gray;
      font-size: 15px;
      font-weight: 400;
      line-height: 2;
    }

    &__price-rub {
      height: 17px;
      color: $text-black;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.41;
    }

    &__price-icon {
      opacity: 0.2;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 22px;
    margin-right: 27px;

    &__img {
      width: 316px;
      height: 462px;
    }

    &__title {
      display: flex;
      flex-direction: column;
      padding-right: 0;
      margin-bottom: 13px;
    }

    &__features {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      flex-wrap: wrap;
      flex-grow: 1;
      border: 1px solid $light-gray;
      background-color: $white;
    }

    &__title-name {
      color: $text-black;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &__title-description {
      color: $dark-gray;
      font-size: 15px;
      font-weight: 400;
      line-height: 2;
    }

    &__price {
      margin-top: auto;
    }

    &__price-rub {
      height: 17px;
      color: $text-black;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.41;
    }

    &__price-icon {
      opacity: 0.2;
    }
  }
}
