.color {
  &__checkbox-item {
    width: 40px;
    height: 39px;
    border: 2px solid $dark-gray;

    &:checked {
      width: 22px;
      height: 16px;
    }
  }

  &__label {
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.06;
  }
}

@media (min-width: $tablet-width) {
  .color {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 768px;
    height: 304px;
    background-color: $gray;

    &__checkbox {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }

    &__checkbox-item {
      width: 54px;
      height: 52px;
      border: 2px solid $dark-gray;

      &:checked {
        width: 33px;
        height: 22px;
      }
    }

    &__label {
      color: $text-black;
      font-size: 19px;
      font-weight: 700;
      line-height: 0.95;
    }
  }
}

@media (min-width: $desktop-width) {
  .color {
    width: 1150px;
    height: 228px;
    background-color: $gray;

    &__checkbox {
      display: flex;
      flex-wrap: wrap;
      width: 30%;
    }

    &__checkbox-item {
      width: 54px;
      height: 52px;
      border: 2px solid $dark-gray;

      &:checked {
        width: 33px;
        height: 22px;
      }
    }

    &__label {
      color: $text-black;
      font-size: 19px;
      font-weight: 700;
      line-height: 0.95;
    }
  }
}
