.copyright {
  &__logo {
    display: none;
  }

  &__text {
    color: $text-black;
    font-size: 19px;
    font-weight: 700;
    line-height: 0.95;
  }

  &__link {
    background-color: $mint;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    &__logo {
      width: 102px;
      height: 34px;
    }

    &__text {
      color: $text-black;
      font-size: 19px;
      font-weight: 700;
      line-height: 0.95;
    }

    &__link {
      background-color: $mint;
    }
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    &__logo {
      width: 102px;
      height: 34px;
    }

    &__text {
      color: $text-black;
      font-size: 19px;
      font-weight: 700;
      line-height: 0.95;
    }

    &__link {
      background-color: $mint;
    }
  }
}
