.copyright {
  display: flex;
  width: 260px;
  min-height: 79px;
  border-top: 1px solid $light-gray;
  margin-top: 23px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: none;
  }

  &__text {
    color: $text-black;
    font-size: 19px;
    font-weight: 700;
    line-height: 0.95;
    margin: 0;
    padding: 0;
    margin-left: 37px;
    margin-top: 0;
    padding-bottom: 3px;
  }

  &__link-logo {
    margin-right: 39px;
    margin-top: 3px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    &__logo {
      width: 102px;
      height: 34px;
    }

    &__text {
      color: $text-black;
      font-size: 19px;
      font-weight: 700;
      line-height: 0.95;
    }

    &__link {
      background-color: $mint;
    }
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    &__logo {
      width: 102px;
      height: 34px;
    }

    &__text {
      color: $text-black;
      font-size: 19px;
      font-weight: 700;
      line-height: 0.95;
    }

    &__link {
      background-color: $mint;
    }
  }
}
