.features-list {
  background-color: $white;

  &__item {
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.18;
    background-repeat: no-repeat;

    &--eco {
      background-image: url("/img/icon-feature-flower.svg");
    }

    &--style {
      background-image: url("/img/icon-feature-money.svg");
    }

    &--like {
      background-image: url("/img/icon-feature-heart.svg");
    }

    &--love {
      background-image: url("/img/icon-feature-ball.svg");
    }

    &--native {
      background-image: url("/img/icon-feature-rocket.svg");
    }

    &--gift {
      background-image: url("/img/icon-feature-gift.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .features-list {
    &__advantages {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      max-width: 50%;
      color: $text-black;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.1;

      &--eco {
        background-image: url("/img/icon-feature-flower.svg");
      }

      &--style {
        background-image: url("/img/icon-feature-money.svg");
        order: 2;
      }

      &--like {
        background-image: url("/img/icon-feature-heart.svg");
        order: 4;
      }

      &--love {
        background-image: url("/img/icon-feature-ball.svg");
        order: 1;
      }

      &--native {
        background-image: url("/img/icon-feature-rocket.svg");
        order: 3;
      }

      &--gift {
        background-image: url("/img/icon-feature-gift.svg");
        order: 5;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .features-list {
    &__advantages {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      flex-direction: column;
      color: $text-black;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.1;
      background-repeat: no-repeat;

      &--eco {
        background-image: url("/img/icon-feature-flower.svg");
      }

      &--style {
        background-image: url("/img/icon-feature-money.svg");
      }

      &--like {
        background-image: url("/img/icon-feature-heart.svg");
      }

      &--love {
        background-image: url("/img/icon-feature-ball.svg");
      }

      &--native {
        background-image: url("/img/icon-feature-rocket.svg");
      }

      &--gift {
        background-image: url("/img/icon-feature-gift.svg");
      }
    }
  }
}
