.features {
  &__container {
    width: 320px;
    padding: 0;
    padding-bottom: 10px;
    position: relative;
  }

  &__title {
    color: $text-black;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-left: -2px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    box-sizing: border-box;
    max-width: 678px;
    margin-left: auto;
    margin-right: auto;

    &__title {
      color: $text-black;
      font-size: 43px;
      font-weight: 700;
      line-height: 1.16;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    &__title {
      color: $text-black;
      font-size: 53px;
      font-weight: 700;
      line-height: 1.08;
    }
  }
}
