$text-black: #000000;

.features {
  .features__title {
    width: 185px;
    height: 24px;
    color: $text-black;
    font-family: @font-face;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }
}
