.features {
  @include container;

  &__title {
    color: $text-black;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    padding-bottom: 20px;
    margin-left: -2px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    &__title {
      color: $text-black;
      font-size: 43px;
      font-weight: 700;
      line-height: 1.16;
      padding-top: 77px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    &__title {
      color: $text-black;
      font-size: 53px;
      font-weight: 700;
      line-height: 1.08;
      padding-top: 47px;
      padding-left: 171px;
    }
  }
}
