.logo {
  display: block;
  width: 90px;
  margin: 0 auto;
  padding: 22px 0 30px;

  &__image {
    width: 86px;
    height: 35px;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    display: flex;
    flex-direction: row;

    &__image {
      width: 113px;
      height: 46px;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    display: flex;
    flex-direction: row;

    &__image {
      width: 149px;
      height: 72px;
    }
  }
}
