.main-menu {
  &__button-icon {
    width: 60px;
    height: 60px;
    background-image: url("/img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top: 13px;
    right: 23px;
    padding: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__list {
    @include list;
    display: flex;
    flex-direction: column;
    background-color: $gray;
    text-decoration: none;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  &--closed {
    .main-menu__button-icon {
      width: 60px;
      height: 60px;
      background-image: url("/img/icon-menu-open.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      position: absolute;
      top: 13px;
      right: 26px;
      padding: 0;
      z-index: 2;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .main-menu__list {
      display: none;
    }
  }

  &--nojs {
    .main-menu__button-icon {
      display: none;
    }

    .main-menu__list {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    &__button-icon {
      display: none;
    }

    &--closed {
      .main-menu {
        &__list {
          display: flex;
          position: absolute;
          background-color: transparent;
          text-decoration: none;
        }

        &__category-list {
          display: flex;
          flex-direction: row;
        }

        &__user-list p {
          display: none;
        }

        &__desktop-list {
          display: none;
        }

        &__delivery-list {
          position: absolute;
          right: 53px;
          top: 110px;
          color: $dark-gray;
          font-size: 15px;
          font-weight: 400;
          line-height: 1.6;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-menu {
    &--closed {
      .main-menu {
        &__desktop-list {
          display: flex;
          flex-direction: row;
        }

        &__delivery-list {
          right: 120px;
          top: 138px;
        }
      }
    }
  }
}
