.main-menu {
  &__button-icon {
    width: 30px;
    height: 30px;
    background-image: url("/img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top: 24px;
    right: 26px;
    padding: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .category-list {
    display: flex;
    flex-direction: row;
    color: $text-black;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
  }

  .user-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
  }

  .desktop-list {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .category-list {
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
  }

  .user-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
  }

  .desktop-list {
    display: flex;
    height: 15px;
    color: $text-black;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
  }
}
