.order-button {
  margin-bottom: 31px;
  padding-left: 22px;
  padding-right: 24px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .order-button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .order-button {
    padding-top: 17px;
    padding-bottom: 14px;
    width: 230px;
  }
}
