.order-button {
  background-color: $white;
  font-size: 17px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  align-self: center;
  margin-bottom: 31px;
  box-sizing: border-box;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: $text-black;
  cursor: pointer;
  width: 192px;
}

@media (min-width: $tablet-width) {
  .order-button {
    display: flex;
    justify-content: center;
    width: 584px;
    height: 52px;
    border: 2px solid $dark-gray;
    background-color: $white;
    color: $dark-gray;
    font-size: 17px;
    font-weight: 700;
    line-height: 0.94;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .order-button {
    display: flex;
    justify-content: flex-end;
    width: 230px;
    height: 52px;
    border: 2px solid $dark-gray;
    background-color: $white;
    color: $dark-gray;
    font-size: 17px;
    font-weight: 700;
    line-height: 0.94;
    text-transform: uppercase;
  }
}
