$text-darkgray: #010000;

.page-main {
  .page-main__header-title {
    &--main {
      width: 244px;
      height: 87px;
      color: #010000;
      font-family: @font-face;
      font-size: 27px;
      font-weight: 700;
      line-height: 30px;
    }
  }
}
