.popular-item {
  background-color: $white;

  &__type {
    width: 246px;
    height: 24px;
    color: $text-black;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
  }

  &__title {
    width: 133px;
    height: 16px;
    color: $mint;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.18;
    text-transform: uppercase;
  }

  &__text {
    width: 249px;
    height: 63px;
    color: $text-darkgray;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
  }

  &__table {
    color: $text-darkgray;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
  }

  &__table-key {
    width: 67px;
    height: 92px;
  }

  &__table-value {
    width: 129px;
    height: 93px;
  }

  &__image {
    width: 260px;
    height: 315px;
  }

  &__price {
    width: 124px;
    height: 17px;
    color: $text-darkgray;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
  }

  &__button {
    width: 259px;
    height: 52px;
    border: 2px solid $text-darkgray;
    background-color: $white;
  }
}
