.reviews {
  @include container;
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    color: $text-black;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    padding-top: 31px;
  }

  &__create {
    margin-top: 42px;
    margin-bottom: 50px;
    padding-left: 0;
  }

  &__create-btn {
    &:hover {
      background-color: $dark-gray;
      color: $white;
    }

    &:active {
      background-color: $dark-gray;
      color: $button-down;
    }
  }
}


@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 49px;
    background-image: url("/img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: -4% -6%;

    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__items-wrapper {
      width: 100%;
    }

    &__title {
      color: $text-black;
      font-size: 43px;
      font-weight: 700;
      line-height: 1.16;
      order: -2;
      padding-top: 27px;
      padding-right: 115px;
    }

    &__create {
      order: -1;
      padding-left: 195px;
      padding-top: 29px;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__create-btn {
      padding-left: 34px;
      padding-right: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 44px;
    padding-left: 184px;
    padding-right: 0;
    padding-bottom: 143px;
    margin-bottom: 0;
    background-position: 6% -7%;

    &__items-wrapper {
      width: 100%;
    }

    &__title {
      color: $text-black;
      font-size: 53px;
      font-weight: 700;
      line-height: 1.08;
      order: -2;
      padding-left: 34px;
    }

    &__create {
      padding-left: 368px;
      padding-top: 36px;
    }
  }
}
