.review {
  &__text {
    color: $dark-gray;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 30px;
  }

  &__author {
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
  }

  &__author-name {
    font-weight: 700;
    line-height: 1.41;
    margin: 0;
    padding: 0;
    padding-top: 27px;
  }

  &__author-nickname {
    color: $dark-gray;
    font-weight: 400;
    line-height: 1.76;
    padding: 0;
    margin: 0;
    padding-top: 3px;
  }
}

@media (min-width: $tablet-width) {
  .review {
    display: flex;
    justify-content: center;

    &__text {
      color: $dark-gray;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.76;
      padding-top: 46px;
      padding-bottom: 0;
    }

    &__author {
      color: $text-black;
      padding-top: 55px;
    }

    &__author-name {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
    }

    &__author-nickname {
      color: $dark-gray;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.76;
    }
  }
}

@media (min-width: $desktop-width) {
  .review {
    &__text {
      color: $dark-gray;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.76;
      padding-left: 39px;
      padding-right: 100px;
      padding-top: 44px;
    }

    &__author {
      color: $text-black;
      font-size: 17px;
      padding-top: 34px;
      padding-left: 41px;
      padding-right: 0;
    }

    &__author-name {
      font-weight: 700;
      line-height: 1.41;
    }

    &__author-nickname {
      color: $dark-gray;
      font-weight: 400;
      line-height: 1.76;
    }
  }
}
