.slider {
  background-color: $white;

  &__item {
    margin: 0;
    padding-bottom: 0;

    &--prev {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    margin-bottom: 44px;
    margin-top: 31px;
  }

  &__arrow {
    border: 1px solid $light-gray;
    padding-right: 14px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 50%;
    background-color: transparent;

    &--next {
      border-left: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .slider {
    &__item {
      flex-direction: column;
    }

    &__navigation {
      position: absolute;
      right: 41px;
      bottom: -70px;

      &__arrow {
        &--previous {
          width: 50px;
          height: 26px;
          padding-left: 15px;
        }

        &--next {
          width: 50px;
          height: 26px;
          padding-right: 12px;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    &__item {
      flex-direction: column;
    }

    &__navigation {
      position: absolute;
      right: 60px;
      bottom: -72px;

      &__arrow {
        &--previous {
          width: 50px;
          height: 26px;
        }

        &--next {
          width: 50px;
          height: 26px;
        }
      }
    }
  }
}
