.user-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-list {
    @include list;
    right: 62px;
    top: 35px;
    background-image: url("/img/icon-cart.svg");
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;

    &__item {
      padding-right: 95px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $text-black;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41;
  }
}
