$white: #ffffff;
$text-black: #000000;
$dark-gray: #444444;
$mint: #63d1bb;
$dark-mint: #56c3b2;
$light-gray: #ececec;
$text-gray: #777777;
$gray: #f1f1f1;
$button-down: #8a8a8a;
$footer-img: #46c1ae;
$desktop-width: 1250px;
$tablet-width: 768px;
